@tailwind base;
@tailwind components;
@tailwind utilities;


.error-text{
    animation: blinkingText;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes blinkingText{
    from{color:red;} to{color: transparent;}
}